services:
  - type: web
    name: starmock
    runtime: node
    rootDir: app
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/health
